.StickyBar {
  z-index: 1020;
  height: $sticky-bar-height-mobile;

  .sticky-bar-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .breadcrumbs-container {
    display: flex;
    align-items: center;
    margin-top: $spacer;

    span,
    a {
      font-family: $font-family-monospace;
      font-size: 0.75rem;
      color: $secondary;
    }

    a:hover {
      text-decoration: underline;
    }

    svg {
      width: 8px;
      height: 8px;
      color: $secondary;
      margin: 0 $spacer * 0.25;
    }
  }

  form {
    position: relative;
    width: 248px;

    &::after {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.5rem;
      padding-right: 0.25rem;
      padding-left: 0.25rem;
      font-size: 0.75rem;
      background-color: $white;
      color: $secondary;
      content: 'Ctrl + /';
      border: 1px solid $gray-300;
      border-radius: 0.125rem;
    }

    input[type='search'] {
      &:focus {
        border-color: $pink-300;
        box-shadow: $pink-shadow;
      }

      &::-webkit-search-cancel-button {
        position: relative;
        right: 3rem;
      }
    }
  }

  .DropDown {
    z-index: 1022;
    position: absolute;
    top: $sticky-bar-height-mobile + $progress-height;
    overflow-y: auto;
    width: 100vw;
    background-color: $white;
    border: 1px solid $gray-300;
    border-top: 0;
    box-shadow: $dark-shadow;
    cursor: pointer;

    &.hide-border {
      border: 0;
    }
  }

  .DropDownItem {
    padding: $spacer * 0.5 $spacer;

    &.highlight {
      background-color: $gray-100;
    }

    .thumbnail {
      display: grid;
      place-items: center center;
      margin-right: $spacer * 0.5;
    }

    .result-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .search-highlight {
      font-weight: 700;
      color: $pink;
    }
  }
}

@include media-breakpoint-up(md) {
  .StickyBar {
    height: $sticky-bar-height-desktop;

    .sticky-bar-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .breadcrumbs-container {
      margin-top: unset;
    }

    form {
      width: 448px;
    }

    .DropDown {
      top: $sticky-bar-height-desktop + $progress-height;
      width: 600px;
    }
  }
}
