.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  background-color: $gray-200;
  font-size: 0.75rem;
  font-family: $font-family-monospace;

  &:hover {
    background-color: $gray-300;
  }

  &:focus {
    box-shadow: none;
  }

  &.tag-active {
    background-color: $pink;
    color: $white;

    &:focus {
      box-shadow: none;
    }
  }

  .badge {
    color: $gray-100;
    background-color: $gray-500;
  }
}

.blog-snippet {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: $spacer;
  align-items: center;

  .badge {
    width: 100px;
    margin-bottom: 5px;
  }

  a {
    font-size: 1.1rem;
    font-weight: 600;
    color: $cyan-500;

    &:hover {
      color: $cyan-600;
    }
  }

  p {
    font-size: 0.875rem;
    margin-bottom: 0;
  }
}
