.Tags {
  margin-bottom: $spacer * 2;

  .tag {
    background-color: $gray-200;
    color: $dark;
    font-size: 0.75rem;
    font-family: $font-family-monospace;
    border: 0;

    &:hover {
      background-color: $gray-300;
    }

    &:focus {
      box-shadow: none;
    }

    &.tag-active {
      background-color: $pink;
      color: $white;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.Count {
  margin-bottom: $spacer * 2;

  .count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tag-logic {
    font-family: $font-family-monospace;
    margin-bottom: $spacer * 0.5;

    .badge {
      background-color: $gray-200;
      color: $dark;
      font-size: 0.75rem;
      font-weight: $font-weight-normal;
      text-transform: uppercase;

      &.active {
        color: $white;
        background-color: $pink;
      }

      &:first-of-type {
        margin-right: $spacer * 0.5;
        margin-left: $spacer * 0.5;
      }

      &:last-of-type {
        margin-left: $spacer * 0.5;
      }
    }
  }

  .form-switch,
  .form-switch .form-check-input {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .form-check-input:checked {
    background-color: $pink;
    border-color: $pink;
  }

  .form-check-input:focus {
    border-color: $pink-300;
    box-shadow: $pink-shadow;
  }

  .form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23d63384'/%3e%3c/svg%3e");
  }

  .form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  .total {
    font-family: $font-family-monospace;

    .badge {
      background-color: $gray-200;
      color: $dark;
      font-size: 0.75rem;
      font-weight: $font-weight-normal;
      margin-left: $spacer * 0.5;
    }
  }
}

.PostItem {
  margin-bottom: $spacer * 4;
  box-shadow: $dark-shadow;

  &:hover .text-info {
    color: $pink-500 !important;
  }
}

@include media-breakpoint-up(md) {
  .Count {
    .count-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .tag-logic {
      margin-bottom: 0;
    }
  }
}
