#Home {
  .Landing {
    padding-bottom: $spacer * 8;
  }

  form#klaviyo-signup {
    display: flex;
    flex-direction: column;

    input[type='email']:focus {
      border-color: $pink-300;
      box-shadow: 0 0 0 0.25rem rgba($pink, 0.25);
    }

    button {
      align-self: flex-end;
      background-color: $pink;
      color: $white;
    }
  }

  ul {
    padding-left: 10px;
  }

  li {
    display: grid;
    grid-template-columns: 40px 1fr;

    .li-icon {
      align-self: flex-start;
      width: 2rem;
      height: 2rem;
      display: grid;
      place-items: center center;
      border-radius: 50%;
      background-color: $yellow-100;
      color: $yellow-700;
      border: 1px solid $warning;
      margin-right: $spacer * 0.75;
    }

    .li-content {
      align-self: center;
    }

    & > a {
      color: $cyan-500;
      font-weight: $font-weight-bold;
      margin: 0 $spacer * 0.2;

      &:hover {
        color: $cyan-600;
      }
    }
  }

  .Contents {
    padding: $spacer 0 $spacer * 8;
  }

  .contents-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: $spacer * 2;
  }

  .contents-item {
    box-shadow: 0 0.125rem 0.25rem rgba($black, 0.075);

    &:hover .text-info {
      color: $pink-500 !important;
    }
  }

  .Services {
    padding: $spacer 0 $spacer * 8;
  }

  .services-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: $spacer * 2;
  }
}

@include media-breakpoint-up(lg) {
  #Home {
    .services-grid {
      grid-template-rows: unset;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .contents-grid {
      grid-template-rows: unset;
      grid-template-columns: 1fr 1fr;
    }
  }
}
