.pre-container {
  &:after {
    content: '';
    display: block;
    margin-bottom: 3rem;
  }

  .copy-btn {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    width: 5rem;
    height: 2.5rem;
    display: grid;
    place-items: center center;
    font-size: 0.8rem;

    svg {
      color: $white;
    }
  }

  .highlight {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.4rem;
    display: inline-block;
    background-color: $line-highlight;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    direction: ltr;
    tab-size: 2;
    hyphens: none;
    white-space: pre-wrap;
    word-wrap: normal;
    font-family: $font-family-code;
    font-size: 1rem;
    font-weight: normal;
    color: #76d9e6;

    & > span.token {
      font-size: 1rem;
    }

    & > span > span.token {
      font-size: 1rem;
    }
  }

  pre[class*='language-'],
  :not(pre) > code[class*='language-'] {
    background-color: $black;
  }

  pre[class*='language-'] {
    position: relative;
    overflow: auto;
    line-height: 1.4;
    border-radius: $border-radius;
    margin: 0;
    padding: 1.2rem;
  }

  pre[class*='language-'] code {
    display: block;
    white-space: pre;
  }

  :not(pre) > code[class*='language-'] {
    padding: 0.15em 0.2em 0.05em;
    border-radius: 0.3em;
    border: 0.13em solid #7a6652;
    box-shadow: 1px 1px 0.3em -0.1em #000 inset;
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #b5b5b5;
    font-style: italic;
  }

  .token.operator,
  .token.boolean,
  .token.number {
    color: #a77afe;
  }

  .token.attr-name,
  .token.string {
    color: #e6d06c;
  }

  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #e6d06c;
  }

  .token.selector,
  .token.inserted {
    color: #a6e22d;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword,
  .token.important,
  .token.deleted {
    color: #ef3b7d;
  }

  .token.regex,
  .token.statement {
    color: #76d9e6;
  }

  .token.placeholder,
  .token.variable {
    color: #fff;
  }

  .token.important,
  .token.statement,
  .token.bold {
    font-weight: normal;
  }

  .token.punctuation {
    color: #bebec5;
  }

  .token.entity {
    cursor: help;
  }

  .token.italic {
    font-style: italic;
  }

  code.language-markup {
    color: #f9f9f9;
  }

  code.language-markup .token.tag {
    color: #ef3b7d;
  }

  code.language-markup .token.attr-name {
    color: #a6e22d;
  }

  code.language-markup .token.attr-value {
    color: #e6d06c;
  }

  code.language-markup .token.style,
  code.language-markup .token.script {
    color: #76d9e6;
  }

  code.language-markup .token.script .token.keyword {
    color: #76d9e6;
  }

  code.language-html .token.attr-value {
    color: #a5d14d;
  }
}
